.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/portfolio-api-77f4e.appspot.com/o/home-bg.png?alt=media&token=1f4361a7-c898-4b5f-ad83-cfc075e61f30');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
