.wrapper {
  height: 70%;
}

.tittle {
  background: var(--c-gunmetal-t);
}

.tittle h1 {
  color: var(--c-cultured);
}

.tittle p {
  color: var(--c-cultured);
}

@media (orientation: landscape) and (max-width: 991.98px) {
  .hide {
    display: none;
  }
 }