.navbar-custom {
  background-color: var(--c-gunmetal);
}

.navbar-custom .navbar-brand {
  color: var(--c-platinum) !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='hsla%280, 0%, 93%25, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-custom .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: var(--c-platinum);
}

.navbar-custom .navbar-collapse .navbar-nav .nav-item .nav-link.active,
.navbar-custom .navbar-collapse .navbar-nav .nav-item:hover .nav-link {
  color: var(--c-indian-red);
}
