.open {
  color: var(--c-corn) !important;
}

.icon {
  color: var(--c-indian-red);
  background-color: var(--c-cultured) !important;
}

.start {
  color: var(--c-corn);
  background-color: var(--c-indian-red);
}

.date {
  color: var(--c-gunmetal);
}

.text {
  border-top: 3px solid var(--c-indian-red);
}

.link {
  color: var(--c-gunmetal-t) !important;
}