.wrapper p {
  padding: 0 5%;
}

.icon {
  background-color: var(--c-cultured);
  border-radius: 50%;
  color: var(--c-indian-red);
  display: inline-block;
  line-height: 2em;
  width: 2em;
}

.link {
  color: var(--c-indian-red) !important;
}
