.custom-card {
  border: none !important;
  background-color: transparent !important;
  cursor: pointer;
}

.custom-card-header {
  background-color: transparent !important;
  border: none !important;
}

.custom-accordion-toggle {
  background-color: transparent !important;
  border: none !important;
}

.custom-accordion-toggle:hover {
  background-color: var(--c-indian-red) !important;
  color: var(--c-platinum);
}

.custom-card-body {
  background-color: transparent !important;
  border: 1px solid var(--c-indian-red);
}

.custom-star {
  color: var(--c-indian-red);
}
