#home-container {
  background-image: radial-gradient(circle, #d0d0d0, #dcdcdc, #e7e7e7, #f3f3f3, #ffffff);
}

.ability-wrapper p {
    padding: 0 10%;
}

.ability-icon {
    background-image: radial-gradient(circle, #660066, #540345, #3d092a, #240a16, #000000);
    border-radius: 50%;
    color: #ffffff;
    display: inline-block;
    line-height: 1.6em;
    width: 1.6em;
}

.profile-pic {
  max-width: 50%;
  box-shadow: 0.4em 0.4em 0px 0px rgba(0,0,0,0.75);
}

.description-wrapper {
}

.description-wrapper p {
    margin: 0 20%;
}

.skills-description {
    padding: 0 10%;
}

.skill-item {
    display: inline;
}

.progress-bar {
    background-image: radial-gradient(circle, #660066, #540345, #3d092a, #240a16, #000000);
}