#home-banner-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: radial-gradient(circle, #660066, #540345, #3d092a, #240a16, #000000);
}

.home-banner-tittle {
    padding: 2rem 0 2rem 0;
    background: rgba(0, 0, 0, 0.4);
}

.home-banner-tittle h1, h2 {
    color: #ffffff;
}
