:root {
  --c-indian-red: hsla(0, 64%, 58%, 1);
  --c-mantis: hsla(102, 54%, 58%, 1);
  --c-corn: hsla(53, 91%, 69%, 1);
  --c-redwood: hsla(14, 32%, 44%, 1);
  --c-independence: hsla(249, 11%, 34%, 1);
  --c-platinum: hsla(0, 0%, 93%, 1);
  --c-cultured: hsla(0, 0%, 95%, 1);
  --c-gunmetal: hsla(210, 10%, 23%, 1);
  --c-gunmetal-t: hsla(210, 10%, 23%, 0.5);
}

@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica'),
    url(./assets/fonts/Helvetica/Helvetica.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica'),
    url(./assets/fonts/Helvetica/Helvetica-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica'),
    url(./assets/fonts/Helvetica/Helvetica-Oblique.ttf) format('truetype');
  font-weight: normal;
  font-style: oblique;
}

@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica'),
    url(./assets/fonts/Helvetica/Helvetica-BoldOblique.ttf) format('truetype');
  font-weight: bold;
  font-style: oblique;
}

html {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100% !important;
  width: 100% !important;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  color: var(--c-independence) !important;
  background-color: var(--c-platinum) !important;
}

#root {
  height: 100% !important;
  width: 100% !important;
  margin: 0;
  padding: 0;
}

a,
a:link,
a:visited,
a:active,
a:focus {
  color: var(--c-cultured);
}

a:hover {
  color: var(--c-indian-red) !important;
}

.navbar {
  background-color: var(--c-gunmetal);
  box-shadow: 0 10px 5px 0 var(--c-gunmetal-t);
}

.navbar .navbar-brand {
  color: var(--c-cultured) !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='hsla%280, 0%25, 95%25, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: var(--c-cultured);
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link.active,
.navbar .navbar-collapse .navbar-nav .nav-item:hover .nav-link {
  color: var(--c-indian-red);
}

.btn-primary {
  background: var(--c-indian-red) !important;
  border-color: var(--c-indian-red) !important;
  color: var(--c-cultured) !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:visited {
  background: var(--c-indian-red) !important;
  border-color: var(--c-indian-red) !important;
  box-shadow: none !important;
}

.wrapper-global {
  height: 100%;
  min-height: 100%;
  width: 100%;
  overflow: auto;
}

.wrapper {
  background-color: var(--c-platinum);
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}