.my-progress-bar {
    width: 100%;
}

.my-progress-bar-label-left {
    background-color: red;
    width: 45%;
    display: inline-block;
    height: 2em;
}

.wrapper-testing {
    display: inline-block;
    width: 55%;
    height: 2em;
}

.my-progress-bar-tracker {
    position: relative;
    height: 100%;
    background-color: yellow;
    /*margin-left: 45%;*/
}

.filler {
    background: blue;
    height: 100%;
    width: 0%;
    border-radius: inherit;

    position: absolute;
    top: 0;
    left: 0;
}

.my-progress-bar-label-right {
    position: absolute;
    top: 0;
    right: 0;
}
